# Data Science Tools and Ecosystem

## Author: 
Jorge Fuentes Jim√©nez

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular frameworks for Data Science
- List data science libraries

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow

| Data Science Tools |
|--------------------|
| Hadoop             |
| Spark              |
| NEO4J              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(hours)
print ("hours")

3.3333333333333335
hours